<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ruchki.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-L9QA5B0;Integrated Security=SSPI;Initial Catalog=Ruchki"
            providerName="System.Data.OleDb" />
        <add name="Ruchki.Properties.Settings.RuchkiConnectionString"
            connectionString="Data Source=LAPTOP-DUI46P96\SQLEXPRESS01;Initial Catalog=Ruchki;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>